# Ignore everything...
*
btop/*.log
btop/btop.log
btop/btop.log.1
lazygit/state.yml

# ... except:
!.gitignore
!install.sh
!nvim/
!nvim/**
!zellij/
!zellij/**
!btop/
!btop/**
!kitty/
!kitty/**
!bat/
!bat/**
!starship.toml
!README.md
!fish/
!fish/**
fish/.config.fish.swp
fish/conf.d/nix.fish
!obsidian/**
nvim/.idea
